<!DOCTYPE html>
<html>
<head>
	<title>Rails index|Index</title>
	<style>
		#btn1{
		color:#eeeeee;
		background-color: #900923;
		}
	</style>
</head>
<body>
<h1>Welcome!</h1>
<h2><a>Schedule effectively!</h2>

</br>
<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary"%>


</body>
</html>
